.exit a {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial Black, Helvetica, sans-serif;
    transition: 0.5s;
}

.exit a:hover {
    color: chocolate;
    transition: 0.5s;
}

.block-reg p {
    text-decoration: none;
    font-size: 24px;
    font-family: Arial Black, Helvetica, sans-serif;
}